@use "../../assets/styles/style.scss" as g;
.hero__sec{
    width: 100%;
    display: grid;
    gap: 1rem;
}
.hero__sec > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.hero__sec > picture {
    // transform: rotate(90deg);
    width: 100%;
    z-index: -1;
}
.hero__sec picture img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 0.7;
}
//responsive breakpoints
@include g.tablet{
    .hero__sec picture img{
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 0.4;
    }
    // .hero__content{
    //     justify-self: flex-start;
    //     align-self: center;
    //     @include g.G-pd-md;
    // }
}
@include g.desktop{
    .hero__sec picture img{
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 0.35;
    }
    // .hero__content{
    //     @include g.G-pd-bg;
    // }
}