@use "../../assets/styles/style.scss" as g;
.hero__sec{
    width: 100%;
    display: grid;
    gap: 1rem;
}
.hero__sec > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.hero__sec > picture {
    // transform: rotate(90deg);
    width: 100%;
    z-index: -1;
}
.hero__sec picture img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 0.7;
}
.hero__content{
    max-width: 80%;
    justify-self: center;
    align-self: center;
}
//responsive breakpoints
@include g.tablet{
    .hero__sec picture img{
        width: 100%;
        object-fit: contain;
        aspect-ratio: 1 / 0.5;
    }
    .hero__content{
        justify-self: flex-start;
        align-self: center;
        padding: 0 4em;
    }
}