@use '/src/assets/styles/style.scss' as g;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.header{
    width: 100%;
    background: #ff4a92;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;
    font-size: .9rem;
    
    &__right > span{
        margin-left: .6em;
        background: #ffff;
        color: #ff4a92;
        padding: .5em;
        border-radius: .5em;
    }
    &__right > span > .icon{
        margin-bottom: 0;
    }
}
.hero{
    text-align: center;
    margin: 3em 0 1.5em 0;
}    
.hero > h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: #e1578f;
    margin-block: 0;
    margin-inline: 0;
    padding: 0;
    line-height: 1;
}
.hero > p{
    font-size: 1.3rem;
    line-height: 1;
    font-style: normal;
}
.navbar{
    display: flex;
    justify-content: center;
}
.navbar > ul{
    display: flex;
    list-style: none;
}
.navbar > ul > li{
    margin: 0 .8em;
    font-size: .9em;
    padding-top: .2em;
}
.banner{
    width: 100%;
    position: relative;
}
.banner > img {
    aspect-ratio: 3.5 / 1;
    object-fit: cover;
    filter: blur(1px);
}
.banner > .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    background: rgba(0, 0, 0, 0.136);
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner > .overlay > h3{
    font-size: 3rem;
}
.banner > .overlay > p{
    font-size: 2rem;
}
.active{
    border-top: .2em solid skyblue;
    color: rgb(110, 185, 215);
}
footer {
    font-size: .9rem;
    font-weight: lighter;
    text-align: center;
    margin: 3em 0 1.5em 0;
    color: rgb(59, 59, 59);
}
