@use '../../assets/styles/style.scss' as g;
// .hero__sec {
//     width: 100%;
//     display: grid;
//     gap: 1rem;
// }
// .hero__sec > * {
//     grid-column: 1 / 2;
//     grid-row: 1 / 2;
// }
// .hero__sec > picture {
//     // transform: rotate(90deg);
//     width: 100em;
//     aspect-ratio: 1 / 0.8;
//     object-fit: cover;
//     z-index: -1;
// }
// .hero__content{
//     max-width: 80%;
//     justify-self: center;
//     align-self: center;
// }
main{
    margin: 3.4em 0;
}
.homepage__hero {
    margin-top: 0;
}
.hero__content{
    max-width: 80%;
    margin: auto;
    height: 100%;
    @include g.flex--column;
    align-items: flex-start;
    gap: .3em;
}
.homepage__hero  p{
    @include g.yellowtail;
    color: g.$primary-green;
    @include g.font-size(1rem, 25vw, 1.3rem)
}
.homepage__hero  h1{
    @include g.font-size(1.5rem, 35vw, 1.7rem)
}
.advert__sec{
    max-width: 100em;
    padding: 2.5em;
    @include g.G-pd-sm-L;
    @include g.G-pd-sm-R;
    margin: 0 auto;
}
.advert__sec > div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 1em;
}

.about__sec .title{
    @include g.yellowtail;
    @include g.font-size(.7rem, 20vw, 1.1rem);
    color: g.$primary-green;
}
.about__sec h1{
    @include g.font-size(.1rem, 30vw, 1.6rem);
}
.about__sec .text{
    color: g.$primary-black;
    @include g.font-size(.5rem, 20vw, .8rem)
}
.about__sec .about__options{
    padding: .4em 0;
}
.about__sec .about__options .option{
    display: flex;
    margin-bottom: .5em;
}
.about__options .option .option__icon{
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(15vw, 5em);
    padding: 0 .4em;
    margin-right: .6em;
    border-radius: .5em;
}
.option__content > p:nth-child(1){
    @include g.font-size(.8rem, 25vw, 1rem);
    font-weight: bold;
}
.option__content > p:nth-child(2){
    @include g.font-size(.5rem, 20vw, .8rem);
    color: g.$primary-black;
}
.shop__sec{
    max-width: 100em;
    padding: 5em 0;
    @include g.G-pd-sm-L;
    @include g.G-pd-sm-R;
}
.shop__sec div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    gap: 3em;
}
.testimonial__sec{
    background: g.$primary-white2;
    padding: 3em 0;
}
.offer__sec{
    max-width: 100em;
    padding: 5em 0;
    background: g.$primary-blue;
    @include g.G-pd-sm-L;
    @include g.G-pd-sm-R;
}
.gallery__sec{
    background: g.$secondary-green;
    padding: 3em 0;
    // @include g.G-pd-sm-L;
    // @include g.G-pd-sm-R;
}
.blog__sec{
    margin: 5em 0;
    @include g.G-pd-sm-L;
    @include g.G-pd-sm-R;
}
.newsletter__sec{
    margin: 5em 0;
    @include g.G-pd-sm-L;
    @include g.G-pd-sm-R;
}
.footer__sec{
    @include g.G-pd-sm-L;
    @include g.G-pd-sm-R;
}

//responsive breakpoints
@include g.tablet{
    .hero__content{
        width: 60%;
        margin: 0;
        @include g.G-pd-md-L;
        @include g.G-pd-md-R;
    }
    .homepage__hero  p{
        @include g.font-size(1.2rem, 30vw, 1.6rem)
    }
    .homepage__hero  h1{
        @include g.font-size(1.5rem, 35vw, 2.2rem)
    }
    .advert__sec{
        padding: 4em 0;
        @include g.G-pd-md-L;
        @include g.G-pd-md-R;
    }
    .shop__sec{
        @include g.G-pd-md-L;
        @include g.G-pd-md-R;
    }
    .offer__sec{
        @include g.G-pd-md-L;
        @include g.G-pd-md-R;
    }
    .blog__sec{
        @include g.G-pd-md-L;
        @include g.G-pd-md-R;
    }
    .newsletter__sec{
        @include g.G-pd-md-L;
        @include g.G-pd-md-R;
    }
    .footer__sec{
        @include g.G-pd-md-L;
        @include g.G-pd-md-R;
    }
}
//desktop
@include g.desktop{
    main{
        margin: 3em 0;
    }
    .homepage__hero {
        // margin-top: 6.7em;
    }
    .hero__content{
        width: 50%;
        @include g.G-pd-bg-L;
        @include g.G-pd-bg-R;
    }
    .advert__sec{
        padding: 6em 0;
        @include g.G-pd-bg-L;
        @include g.G-pd-bg-R;
    }
    .shop__sec{
        @include g.G-pd-bg-L;
        @include g.G-pd-bg-R;
    }
    .testimonial__sec{
        padding: 0;
    }
    .offer__sec{
        @include g.G-pd-bg-L;
        @include g.G-pd-bg-R;
    }
    .blog__sec{
        @include g.G-pd-bg-L;
        @include g.G-pd-bg-R;
    }
    .newsletter__sec{
        @include g.G-pd-bg-L;
        @include g.G-pd-bg-R;
    }
    .footer__sec{
        @include g.G-pd-bg-L;
        @include g.G-pd-bg-R;
    }
}

//monitor
@include g.monitor{
    .about__sec > img {
        aspect-ratio: 1 / 0.38;
        object-fit: fill;
        width: 100%;
    }
    .about__content{
        max-width: 50%;
    }
    .about__content > p:nth-child(1){
        @include g.font-size(.7rem, 20vw, 1.8rem);
    }
    .about__content > h1{
        @include g.font-size(.1rem, 30vw, 2.2rem)
    }
    .about__content > p:nth-child(3){
        color: g.$primary-black;
        @include g.font-size(.5rem, 20vw, .9rem)
    }
    .option__content > p:nth-child(1){
        @include g.font-size(.8rem, 25vw, 1.2rem);
    }
    .option__content > p:nth-child(2){
        @include g.font-size(.5rem, 20vw, .9rem);
        color: g.$primary-black;
    }
}