@use "../../assets/styles/style.scss" as g;
.auth{
    max-width: fit-content;
    background: #fff;
    box-shadow: 6px 8px 22px -1px rgba(150,145,145,0.56);
    -webkit-box-shadow: 6px 8px 22px -1px rgba(150,145,145,0.56);
    -moz-box-shadow: 6px 8px 22px -1px rgba(150,145,145,0.56);
    // margin: 3em 2em;
    padding: 1em;
    border-radius: 1em;
    @include g.flex--column;
    margin: auto;
    // background: black;
}
.right img{
    width: 100%;
    object-fit: fill;
    border-radius: 1em;
    aspect-ratio: 1 / 0.5;
}
.left{
    margin-top: 1em;
    width: 100%;
}
.left .input__container{
    margin-bottom: .7em ;
    // max-width: 50em;
}
label, input{
    display: block;
}
label{
    @include g.font-size(.5rem, 20vw, .8rem);
    font-weight: bold
}
.input__container input{
    border-radius: .5em;
    border: 1px solid g.$primary-green;
    outline: none;
    width: 100%;
    padding: .5em;
}
.sepration{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}
.sepration div{
    width: 100px;
    height: 1px;
    background: g.$primary-green;
}
.option{
    background: #ffff;
    box-shadow: 2px 3px 9px -1px rgba(78,72,72,0.26);
    -webkit-box-shadow: 2px 3px 9px -1px rgba(78,72,72,0.26);
    -moz-box-shadow: 2px 3px 9px -1px rgba(78,72,72,0.26);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6em 1.2em;
    border-radius: .8em;
}
.google{
    margin-right: .3em;
}

//responsive breakpoints
@include g.tablet{
    .auth{
        @include g.flex--row;
        display: flex;
        flex-direction: row;
        padding: 2em;
    }
    .right{
    padding-right: 2em;
    }
    .right img{
        object-fit: cover;
        aspect-ratio: 1 / 2;
    }
    .left{
        margin-top: 0;
    }
}